<a href="https://colab.research.google.com/github/carolinecarranza/Data-Science/blob/main/Business_Case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### First: Process checkpoints

In [ ]:
### Import libraries 

import pandas as pd
import numpy as np

a) Download sales data from multiple google sheet html tables

In [ ]:
### Downloading Sales data 1

sales_1 = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=135177862&single=true', header=1)[0]

sales_1

   1  order_id       shop_name        date  amount
0  2     43701  Beautiful Shop  01/01/2022    10.0
1  3     99029  Beautiful Shop  02/01/2022    15.0
2  4     33511       Cool Shop  02/01/2022    20.0
3  5     97221       Cool Shop  01/01/2022    12.0

In [ ]:
### Downloading Sales data 2

sales_2 = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=713084766&single=true', header=1)[0]

sales_2

   1  order_id       shop_name        date  amount
0  2     33400  Beautiful Shop  01/01/2022     2.0
1  3     39704       Cool Shop  01/01/2022     3.0
2  4     40063       Cool Shop  01/01/2022     5.0
3  5     55639       Cool Shop  02/01/2022     8.0



---


b) Consolidate all data into a single table

In [ ]:
### Data Consolidated 

result = [sales_1,sales_2]

sales = pd.concat(result)

sales

   1  order_id       shop_name        date  amount
0  2     43701  Beautiful Shop  01/01/2022    10.0
1  3     99029  Beautiful Shop  02/01/2022    15.0
2  4     33511       Cool Shop  02/01/2022    20.0
3  5     97221       Cool Shop  01/01/2022    12.0
0  2     33400  Beautiful Shop  01/01/2022     2.0
1  3     39704       Cool Shop  01/01/2022     3.0
2  4     40063       Cool Shop  01/01/2022     5.0
3  5     55639       Cool Shop  02/01/2022     8.0



---


c) Group by date and shop_name; sum amounts and count order_ids.

In [ ]:
## First using Group By

sales = sales.groupby(['date','shop_name']).agg({'amount':'sum','order_id':'count'}).reset_index()

sales

## But we can't see the totals in the end, like the example in the process_checkpoints

         date       shop_name  amount  order_id
0  01/01/2022  Beautiful Shop    12.0         2
1  01/01/2022       Cool Shop    20.0         3
2  02/01/2022  Beautiful Shop    15.0         1
3  02/01/2022       Cool Shop    28.0         2

In [ ]:
### Using a Pivot Table we can see exactly the same in the example

sales_pivot = pd.pivot_table(sales,index=['date','shop_name'],aggfunc='sum',values=['amount','order_id'],margins=True,margins_name='Grand Total').reset_index()

sales_pivot

          date       shop_name  amount  order_id
0   01/01/2022  Beautiful Shop    12.0         2
1   01/01/2022       Cool Shop    20.0         3
2   02/01/2022  Beautiful Shop    15.0         1
3   02/01/2022       Cool Shop    28.0         2
4  Grand Total                    75.0         8



---


d) Export data into an output txt file with the following formatting:

In [ ]:
### Export data into a txt file

sales_pivot.to_csv(r'c:\data\sales.txt',header=None,index=None,sep='|')

In [ ]:
### Reading the data for validation

f = open('c:\data\sales.txt','r')
for line in f:
  print(line)

01/01/2022|Beautiful Shop|12.0|2

01/01/2022|Cool Shop|20.0|3

02/01/2022|Beautiful Shop|15.0|1

02/01/2022|Cool Shop|28.0|2

Grand Total||75.0|8



---

### Second: Tasks

1) 

a) Design and automate a process to take google sheet html tables and output a corresponding txt file like described in process_checkpoints worksheet.

In [ ]:
### Import libraries 

import pandas as pd
import numpy as np

### Building functions for automated the process 
def leitura_arquivo(arquivo):
  df = pd.read_html(arquivo, header=1)[0]
  return df

def concat(arq1,arq2):
   arq = [arq1,arq2] 
   result = pd.concat(arq)
   return result

def func_agrega(arq,dim1,dim2,var1,var2):
  arq = arq.groupby([dim1,dim2]).agg({var1:'sum',var2:'count'}).reset_index()
  total = {dim1:['Totals'],dim2:[' '],var1:[a],var2:[b]}
  total = pd.DataFrame(data = total)
  return arq

def inserir_linha(idx, df, df_inserir):
    dfA = df.iloc[:idx, ]
    dfB = df.iloc[idx:, ]

    df = dfA.append(df_inserir,).append(dfB).reset_index(drop = True)

    return df

### -> Manual Step: 
Put your Google Sheets links in the code below:

In [ ]:
url_1 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=135177862&single=true'
url_2 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=713084766&single=true'

In [ ]:
### Function for reading the file

frame_1 = leitura_arquivo(url_1)
frame_2 = leitura_arquivo(url_2)

In [ ]:
### Function for concatenated the files

output = concat(frame_1,frame_2)
output

   1  order_id       shop_name        date  amount
0  2     43701  Beautiful Shop  01/01/2022    10.0
1  3     99029  Beautiful Shop  02/01/2022    15.0
2  4     33511       Cool Shop  02/01/2022    20.0
3  5     97221       Cool Shop  01/01/2022    12.0
0  2     33400  Beautiful Shop  01/01/2022     2.0
1  3     39704       Cool Shop  01/01/2022     3.0
2  4     40063       Cool Shop  01/01/2022     5.0
3  5     55639       Cool Shop  02/01/2022     8.0

In [ ]:
### Function for agregated the final file

output = func_agrega(output,'date','shop_name','amount','order_id')
output

         date       shop_name  amount  order_id
0  01/01/2022  Beautiful Shop    12.0         2
1  01/01/2022       Cool Shop    20.0         3
2  02/01/2022  Beautiful Shop    15.0         1
3  02/01/2022       Cool Shop    28.0         2

In [ ]:
### Function for put the final line with the totals 
a = output['amount'].sum()
b = output['order_id'].sum()
total = {'date':['Totals'],'shop_name':[' '],'amount':[a],'order_id':[b]}
total = pd.DataFrame(data = total)

tamanho = len(output['amount'])+1
output_final = inserir_linha(tamanho,output,total)
output_final

         date       shop_name  amount  order_id
0  01/01/2022  Beautiful Shop    12.0         2
1  01/01/2022       Cool Shop    20.0         3
2  02/01/2022  Beautiful Shop    15.0         1
3  02/01/2022       Cool Shop    28.0         2
4      Totals                    75.0         8

In [ ]:
### Export the output table in txt file 

output_final.to_csv(r'output_final.txt',header=None,index=None,sep='|')

In [ ]:
### Reading the txt file and validated if the format is correct 

f = open('output_final.txt','r')
for line in f:
  print(line)

01/01/2022|Beautiful Shop|12.0|2

01/01/2022|Cool Shop|20.0|3

02/01/2022|Beautiful Shop|15.0|1

02/01/2022|Cool Shop|28.0|2

Totals| |75.0|8



---


b) Explain your thoughts for designing the proposed process and why you think it is a good solution to the presented problem.

# Proposed Process Explain:
---

My thought was to create functions to automatizate as much as possible, providing the team more time to analyze the data and less time coding. Now they only have to descrive which functions they need, with the data they want. We can use a lot of files to group in just one (we can use others google sheet html tables to consolidate in the output table).

I believe my only downfall was for exporting the output table, that wasn't so automated as possible. I decided to simplify the export method because someday we could amplify the types of files, like csv, xml or others.

---

2) Run your proposed process using the following google sheet html tables as inputs to generate a single txt output file. Make any adjustments to the process if needed.

In [ ]:
### Import libraries 

import pandas as pd
import numpy as np

### Building functions for automated the process 
def leitura_arquivo(arquivo):
  df = pd.read_html(arquivo, header=1)[0]
  return df

def concat(arq1,arq2,arq3,arq4):  ### Adjust here for take more than just 2 files
   arq = [arq1,arq2,arq3,arq4]
   result = pd.concat(arq)
   return result

def func_agrega(arq,dim1,dim2,var1,var2):
  arq = arq.groupby([dim1,dim2]).agg({var1:'sum',var2:'count'}).reset_index()
  total = {dim1:['Totals'],dim2:[' '],var1:[a],var2:[b]}
  total = pd.DataFrame(data = total)
  return arq

def inserir_linha(idx, df, df_inserir):
    dfA = df.iloc[:idx, ]
    dfB = df.iloc[idx:, ]

    df = dfA.append(df_inserir,).append(dfB).reset_index(drop = True)

    return df

In [ ]:
## Another google sheets html tables

url_3 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=0&single=true'
url_4 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=1379536653&single=true'
url_5 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=1661772162&single=true'
url_6 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSxNiF7Oio71ogw0S4Jsa-lxjYZ07XH4VpZbT-XjhllzfyWfOrpW7ft2igSIL8U3VBT27PuZg2m1Dhv/pubhtml?gid=219739259&single=true'

In [ ]:
### Using function for reading the files

frame_3 = leitura_arquivo(url_3)
frame_4 = leitura_arquivo(url_4)
frame_5 = leitura_arquivo(url_5)
frame_6 = leitura_arquivo(url_6)

### Concatenated the files
another_output = concat(frame_3,frame_4,frame_5,frame_6)

## Agregating the files
another_output = func_agrega(another_output,'date','shop_name','amount','order_id')

### Function for put the final line with the totals 
a = another_output['amount'].sum()
b = another_output['order_id'].sum()
total = {'date':['Totals'],'shop_name':[' '],'amount':[a],'order_id':[b]}
total = pd.DataFrame(data = total)

tamanho = len(another_output['amount'])+1
output_final = inserir_linha(tamanho,another_output,total)

### Export the output table in txt file 

output_final.to_csv(r'output_final2.txt',header=None,index=None,sep='|')

In [ ]:
### Reading the txt file and validated if the format is correct 

f = open('output_final2.txt','r')
for line in f:
  print(line)

2022-01-01|Acorn Crafts|55.85|2

2022-01-01|Aloha Art|52.790000000000006|2

2022-01-01|Castaway Shop|3109.0|1

2022-01-01|Party Plex|37.7|1

2022-01-01|Pizza Factor|48.78|2

2022-01-01|Radiance Boutique|166.47|4

2022-01-01|Spa Paragon|56.92|2

2022-01-01|Swap Shop|86.5|3

2022-01-02|Acorn Crafts|132.76|4

2022-01-02|Aloha Art|82.78999999999999|3

2022-01-02|Castaway Shop|115.14|3

2022-01-02|GameDay Catering|73.5|2

2022-01-02|Party Plex|152.18|5

2022-01-02|Pizza Factor|21.35|1

2022-01-02|Radiance Boutique|13.46|1

2022-01-02|Swap Shop|77.81|3

2022-01-03|Acorn Crafts|76.89|2

2022-01-03|Aloha Art|101.1|3

2022-01-03|Castaway Shop|23.23|1

2022-01-03|GameDay Catering|41.980000000000004|2

2022-01-03|Party Plex|23.25|1

2022-01-03|Pizza Factor|44.75|2

2022-01-03|Radiance Boutique|84.43|2

2022-01-03|Spa Paragon|17.9|1

2022-01-04|Acorn Crafts|91.94999999999999|3

2022-01-04|Castaway Shop|46.16|1

2022-01-04|GameDay Catering|45.7|2

2022-01-04|Pizza Factor|70.0|2

2022-01-04|Radiance Boutique|65.7|2

2022-01-04|Spa Paragon|117.22|3

2022-01-05|Aloha Art|53.79|3

2022-01-05|Castaway Shop|19.18|1

2022-01-05|GameDay Catering|86.78|3

2022-01-05|Party Plex|48.27|1

2022-01-05|Pizza Factor|29.990000000000002|2

2022-01-05|Radiance Boutique|52.290000000000006|2

2022-01-05|Swap Shop|80.0|3

xxxxxxxx|GameDay Catering|25.12|1

Totals| |5528.679999999999|82